.root-menu
  background: none
  border-radius: 8px
  padding: 0

.menu-container
  outline: none

  .menu
    display: flex
    gap: 4px
    flex-direction: column
    background: #ffffff
    padding: 16px
    border-radius: 8px

    &[alignment="right"]
      .menu-item
        text-align: right

    &[alignment="left"]
      .menu-item
        text-align: left


.menu-item
  padding: 8px
  min-width: 160px
  display: block
  width: 100%
  background: none
  border: none
  font-size: 16px
  margin: 0
  outline: none

  &:focus
    background: #4169e1
    color: white


  &[data-nested][data-open]:not([data-focus-inside])
    background: #4169e1
    color: white

  &[data-focus-inside][data-open]
    background: #d7dce5

